In [3]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv("Data Clean.csv", delimiter=";")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229835 entries, 0 to 229834
Data columns (total 35 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   idart         229835 non-null  int64
 1   idrt          229835 non-null  int64
 2   weight_final  229835 non-null  object
 3   PSU           229835 non-null  int64
 4   STRATA        229835 non-null  int64
 5   B1R1          229835 non-null  int64
 6   B4K7          229835 non-null  int64
 7   B4K10THN      229835 non-null  int64
 8   B4K11         229835 non-null  int64
 9   B4K12         229835 non-null  int64
 10  B10E01        229835 non-null  int64
 11  B10E02A       229835 non-null  int64
 12  B10E02B       229835 non-null  int64
 13  B10E02C       229835 non-null  int64
 14  B10E02D       229835 non-null  int64
 15  B10E02E       229835 non-null  int64
 16  B10E02F       229835 non-null  int64
 17  B10E03A       229835 non-null  int64
 18  B10E03B       229835 non-null  int64
 19  B10E03C       229835 non-null  int64
 20  B10E03D       229835 non-null  int64
 21  B10E03E       229835 non-null  int64
 22  B10E03F       229835 non-null  int64
 23  B10E03G       229835 non-null  int64
 24  B10E03H       229835 non-null  int64
 25  B10E03I       229835 non-null  int64
 26  B10E03J       229835 non-null  int64
 27  B10E04A       229835 non-null  int64
 28  B10E04B       229835 non-null  int64
 29  B10E04C       229835 non-null  int64
 30  B10E05        229835 non-null  int64
 31  gme           229835 non-null  int64
 32  Bobot_Normal  229835 non-null  object
 33  filter_$      229835 non-null  int64
 34  time          229835 non-null  int64
dtypes: int64(33), object(2)
memory usage: 61.4+ MB

In [5]:
column_mapping = {'B1R1': 'province',
 'B4K7': 'gender',
 'B4K10THN': 'age',
 'B4K11': 'education',
 'B4K12': 'work_status',
 'B10E01':'injured_past_year',
 'B10E02A':'head_injury',
 'B10E02B':'chest_injury',
 'B10E02C':'back_injury',
 'B10E02D':'stomach_injury',
 'B10E02E':'upper_body_injury',
 'B10E02F':'lower_body_injury',
 'B10E03A':'bruises',
 'B10E03B':'cuts',
 'B10E03C':'sprains',
 'B10E03D':'broken_bones',
 'B10E03E':'severed_limbs',
 'B10E03F':'eye_injury',
 'B10E03G':'brain_damage',
 'B10E03H':'internal_damage',
 'B10E03I':'burns',
 'B10E03J':'other',
 'B10E04A':'impaired',
 'B10E04B':'missing_body_parts',
 'B10E04C':'permanent_injury',
 'B10E05':'place_of_injury',
 'gme':'emotional_mental_health_disorder',
 "Bobot_Normal": "weight_normal"
}

df.rename(columns=column_mapping, inplace=True)

In [6]:
df.head()

,idart,idrt,weight_final,PSU,STRATA,province,gender,age,education,work_status,...,burns,other,impaired,missing_body_parts,permanent_injury,place_of_injury,emotional_mental_health_disorder,weight_normal,filter_$,time
0,303269,81939,"21,6834964752197",8620,301,31,1,52,3,7,...,0,0,0,0,0,0,1,",0448737734914915",1,1
1,303272,81939,"21,6834964752197",8620,301,31,2,24,5,1,...,0,0,0,0,0,0,1,",0448737734914915",1,1
2,303274,81939,"21,6834964752197",8620,301,31,2,17,3,1,...,0,0,0,0,0,0,1,",0448737734914915",1,1
3,303275,81940,"7,12305355072021",8620,301,31,1,32,4,5,...,0,0,0,0,0,0,0,",0147410862435434",1,1
4,303282,81942,"27,1446380615234",8620,301,31,1,58,3,7,...,0,0,0,0,0,0,0,",056175549975225",1,1

In [7]:
df.to_csv("CleanedColumn.csv", index=False)